# Introduction to Running SQL with Python using sqlite3

This notebook provides an introduction to using SQL databases in Python with the sqlite3 module. SQLite is a lightweight, file-based database that doesn't require a separate server process. We'll cover the basics of connecting to a database, creating tables, inserting data, querying, updating, and deleting records.

## Import Required Libraries

To interact with SQLite databases in Python, we need to import the `sqlite3` module. This module is included in Python's standard library, so no additional installation is required.

In [1]:
import sqlite3

## Connect to SQLite Database

To work with a database, we first need to establish a connection. The `sqlite3.connect()` function creates a connection to the specified database file. If the file doesn't exist, SQLite will create it. We also create a cursor object, which allows us to execute SQL commands and fetch results.

In [3]:
# Connect to the database (creates 'example.db' if it doesn't exist)
conn = sqlite3.connect('example.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

print("Connected to SQLite database successfully!")

Connected to SQLite database successfully!

## Create a Table

Tables are the basic structure for storing data in a database. We use the `CREATE TABLE` SQL statement to define a table's structure, including column names and their data types. The `IF NOT EXISTS` clause ensures the table is only created if it doesn't already exist.

In [7]:
# Create a table for storing student information
cursor.execute('''
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER
)
''')

print("Table 'students' created successfully!")

Table 'students' created successfully!

## Insert Data into the Table

To add data to a table, we use the `INSERT INTO` SQL statement. Using parameterized queries (with `?` placeholders) is a best practice as it prevents SQL injection attacks and handles data types automatically. After inserting, we call `conn.commit()` to save the changes.

In [8]:
# Insert some sample data
cursor.execute("INSERT INTO students (name, age) VALUES (?, ?)", ("Alice", 20))
cursor.execute("INSERT INTO students (name, age) VALUES (?, ?)", ("Bob", 22))
cursor.execute("INSERT INTO students (name, age) VALUES (?, ?)", ("Charlie", 19))

# Commit the changes to the database
conn.commit()

print("Data inserted successfully!")

Data inserted successfully!

## Query Data from the Table

To retrieve data from the database, we use the `SELECT` SQL statement. The `cursor.fetchall()` method returns all the rows from the query result as a list of tuples. We can then iterate through the results to display or process the data.

In [9]:
# Query all data from the students table
cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()
print(rows)
print("Students in the database:")
for row in rows:
    print(f"ID: {row[0]}, Name: {row[1]}, Age: {row[2]}")

[(1, 'Alice', 20), (2, 'Bob', 22), (3, 'Charlie', 19)]
Students in the database:
ID: 1, Name: Alice, Age: 20
ID: 2, Name: Bob, Age: 22
ID: 3, Name: Charlie, Age: 19

## Update Data in the Table

To modify existing data, we use the `UPDATE` SQL statement. The `WHERE` clause specifies which rows to update. Always use `WHERE` clauses carefully to avoid updating unintended records. Remember to commit changes after updating.

In [24]:
# Update Alice's age
cursor.execute("UPDATE students SET age = ? WHERE name = ?", (21, "Alice"))
conn.commit()
new_update = cursor.fetchone()
print(new_update)
print("Alice's age updated successfully!")

# Verify the update
cursor.execute("SELECT * FROM students WHERE name = ?", ("Alice",))
updated_row = cursor.fetchone()
print(f"Updated record: ID: {updated_row[0]}, Name: {updated_row[1]}, Age: {updated_row[2]}")

None
Alice's age updated successfully!
Updated record: ID: 1, Name: Alice, Age: 21

## Delete Data from the Table

To remove data from a table, we use the `DELETE` SQL statement. Like with updates, the `WHERE` clause is crucial to specify which records to delete. Omitting the `WHERE` clause would delete all records in the table. Always commit after deleting.

In [7]:
# Delete Charlie's record
cursor.execute("DELETE FROM students WHERE name = ?", ("Charlie",))
conn.commit()

print("Charlie's record deleted successfully!")

# Show remaining records
cursor.execute("SELECT * FROM students")
remaining_rows = cursor.fetchall()
print("Remaining students:")
for row in remaining_rows:
    print(f"ID: {row[0]}, Name: {row[1]}, Age: {row[2]}")

Charlie's record deleted successfully!
Remaining students:
ID: 1, Name: Alice, Age: 21
ID: 2, Name: Bob, Age: 22

## Close the Database Connection

It's important to properly close the database connection when you're done working with it. This frees up system resources and ensures that all pending transactions are completed. Closing the connection also closes the cursor automatically.

In [25]:
# Close the database connection
conn.close()

print("Database connection closed successfully!")

Database connection closed successfully!